$primary:#dd5903;
$black:#000;
$darkgrey:#1f1f1f;
$white:#fff;

.main-container-section{
    #topbar-section{
        background-color:$primary;
    }
    .menu-container-section{        
        background: url(../../../img/about-bg-1.png) !important;
        .navi-sec{
            .navi-body{
                .navi-cont{
                    .header-navigation{
                        .navigation-menu{
                            a.nav-link{
                                color: $black;
                            }
                            a.active{
                                color: $primary;
                            }
                        }            
                    }                    
                    .reservation{
                        a.nav-link{
                            padding: 11px 34px;
                            background-color: $primary;
                            color: #fff;
                            font-weight: 600;
                        }
                    }
                    .off-toggler-sec{
                        .offcanvas-block-sec{
                            background:$darkgrey;
                            .offcanvas-header{
                                .close-btn-body{
                                    background-color:$primary;
                                    .btn-close{                               
                                        background: url(../../../img/icons/close-icon.png) !important;
                                        background-repeat: no-repeat !important;
                                        background-size: 100% !important;
                                        background-origin: content-box !important;   
                                        margin: 0;                                                          
                                    } 
                                }                                       
                            }  
                            .offcanvas-body{
                                .navigation-menu2{
                                    a{
                                        color: $white;
                                    }
                                }
                                .offcanvas-body-content{
                                    p{
                                        font-size: 18px;
                                    } 
                                    a{
                                        font-size: 18px;
                                        color: $primary;
                                    }                       
                                }
                                .opening{
                                    p{
                                        font-size: 18px;
                                        color:$white;
                                    }                        
                                }
                                .offcanvas-social ul{
                                    gap:20px;
                                    justify-content: center;
                                    li{
                                        a{
                                            font-size:18px;
                                            color: $white;
                                        }
                                    }
                                }
                            }                   
                        }            
                    }
                }
            }
        }        
        
    }
}




@media(max-width: 991px) and (min-width: 600px){
    #topbar-section{
        .topbar-body{
            .tpbar{
                justify-content: center;
            }
        }
    }
    .menu-container-section{        
        background: url(../../../img/about-bg-1.png) !important;
        .navi-sec{
            .navi-body{
                .navi-cont{
                    padding: 0 10px;
                    .navi-logo{
                        max-width: 50%;
                        display: flex;
                    }
                    .reservation-cnt{
                        max-width: 50%;
                        justify-content: flex-end;
                        .user-acnt{
                            margin-top: 0 !important;
                        }
                    }
                }
            }
        }
    }
}


@media(max-width: 576px){
    #topbar-section{
        .topbar-body{
            .tpbar{
                font-size: 14px;
                ul{
                    li{
                        a{
                            padding-left: 0;
                            display: flex;
                            align-items: center;
                            column-gap: 10px;
                        }
                    }
                }
            }
        }
    }
    .menu-container-section{
        .navi-sec{
            .navi-body{
                .navi-cont{
                    .reservation-cnt{
                        .user-acnt{
                            margin-top: 0 !important;
                            a{
                                margin-left: 10px !important;
                            }
                        }
                    }
                }
            }
        }
    }    
}

