body h1, body h2, body h3 {
  font-family: "Arapey", sans-serif;
}
body p, body a, body li, body span {
  font-family: "Plus Jakarta Sans", sans-serif;
}
body .banner-section {
  background-color: #F7F7F7;
}
body .banner-section .banner {
  min-width: 100%;
  min-height: 600px;
}
body .banner-section .banner .banner-body .banner-body-content h1 {
  margin-bottom: 30px;
  font-size: 90px;
  font-weight: 500 !important;
  line-height: 100px;
  font-family: "Arapey", sans-serif;
  text-transform: uppercase;
}
body .banner-section .banner .banner-body .banner-body-content a {
  padding: 12px 50px;
  background-color: #dd5903;
  color: white;
  font-size: 14px;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 600;
}
body .about-section {
  padding: 90px 0;
}
body .about-section .about .about-img {
  order: 1;
}
body .about-section .about .about-content {
  order: 2;
}
body .about-section .about .about-content .about-content-sec h3 {
  text-align: center;
  line-height: 50px;
  font-size: 40px;
}
body .about-section .about .about-content .about-content-sec h3 span {
  font-family: head;
  color: #dd5903;
}
body .about-section .about .about-content .about-content-para p {
  line-height: 30px;
}
body .about-section .about .about-menu-list {
  order: 3;
}
body .about-section .about .about-menu-list .menu-list-section .menu-list-section-content h4 {
  margin-bottom: 0 !important;
}
body .about-section .about .about-menu-list .menu-list-section .menu-list-section-content h4 a {
  padding: 0;
  color: #1f1f1f;
  font-size: 21px;
  font-weight: 600;
}
body .about-section .about .about-menu-list .menu-list-section .menu-list-section-content p {
  margin-bottom: 0;
}
body .about-section .about .about-menu-list .menu-list-section .menu-list-section-content p span {
  color: #dd5903;
  font-size: 14px;
  font-weight: 600;
}
body .daily-menu-section {
  padding: 90px 0px 58px;
  background-color: #F7F7F7;
}
body .daily-menu-section .menu-section-heading-block .menu-section-separator .title-separator {
  background: url(../../img/icons/rectangle.png);
  min-width: 65px;
  min-height: 21px;
}
body .daily-menu-section .menu-section-heading-block .menu-section-heading h3 {
  text-align: center;
  line-height: 50px;
  font-size: 40px;
  margin-bottom: 20px;
}
body .daily-menu-section .menu-section-heading-block .menu-section-heading h3 span {
  color: #dd5903;
  font-family: "Arapey", sans-serif;
}
body .daily-menu-section .menu-section-heading-block .menu-section-heading h3 p {
  text-align: center;
  margin-bottom: 20px;
}
body .daily-menu-section .menu-section-image-block .image-block {
  overflow: hidden !important;
  margin: 0 auto !important;
}
body .daily-menu-section .menu-section-image-block .image-block img {
  width: 100% !important;
  transition: 0.5s all ease-in-out !important;
}
body .daily-menu-section .menu-section-image-block .image-block:hover img {
  transform: scale(1.1) !important;
}
body .daily-menu-section .menu-section-image-block .image-block .title-block h4 {
  font-size: 21px;
}
body .daily-menu-section .menu-section-image-block .image-block .title-block h4 a {
  color: #1f1f1f;
  font-weight: 600;
}
body .daily-menu-section .menu-section-image-block .image-block .title-block p {
  color: #dd5903;
  font-weight: 600;
}
body .solid-answer-section {
  padding: 90px 0;
}
body .solid-answer-section .section-accordian .accordian-section-separator .title-separator {
  background: url(../../img/icons/rectangle.png);
  min-width: 65px;
  min-height: 21px;
}
body .solid-answer-section .section-accordian .section-accordian-heading h3 {
  text-align: start;
  line-height: 50px;
  font-size: 40px;
  margin-bottom: 20px;
}
body .solid-answer-section .section-accordian .section-accordian-heading h3 span {
  color: #dd5903;
}
body .solid-answer-section .section-accordian .section-accordian-heading p {
  text-align: start;
  margin-bottom: 20px;
  line-height: 30px;
}
body .solid-answer-section .section-accordian #solidAccordian .accordion-item #headingOne button {
  color: #dd5903;
}
body .solid-answer-section .section-accordian #faqlist button {
  font-size: 18px;
  font-weight: 600;
}
body .solid-answer-section .section-accordian #faqlist button:not(.collapsed) {
  color: #dd5903;
  background-color: #fff;
  box-shadow: none;
}
body .book-now-section {
  background-color: #1f1f1f;
  padding: 30px 0;
}
body .book-now-section .book-now-body .book-now-content h3 {
  color: #fff;
  font-size: 32px;
}
body .book-now-section .book-now-body .book-now-content h3 span {
  font-size: 36px;
  text-decoration: underline;
  font-family: "Arapey", sans-serif;
}
body .book-now-section .book-now-body .book-now-content a {
  background-color: #dd5903;
  color: #fff;
  -moz-column-gap: 10px;
       column-gap: 10px;
  padding: 14px 35px;
  font-weight: 500;
}
body .gallery-section {
  padding: 90px 0;
}
body .gallery-section .gallery-sec .gallery-body .gallery-heading h3 {
  font-size: 40px;
  text-align: center;
}
body .gallery-section .gallery-sec .gallery-body .gallery-heading h3 span {
  font-family: "Arapey", sans-serif;
  color: #dd5903;
}
body .gallery-section .gallery-sec .show {
  display: block;
}
body .gallery-section .gallery-sec .show#img1, body .gallery-section .gallery-sec .show #img2, body .gallery-section .gallery-sec .show #img3, body .gallery-section .gallery-sec .show #img4, body .gallery-section .gallery-sec .show #img5, body .gallery-section .gallery-sec .show #img6 {
  min-width: 100%;
}
body .calendar-form-section {
  background: url(../../img/restaurant-interior-bg1.png);
  padding: 76px 0;
}
body .calendar-form-section .calendar-form-heading-section h3 {
  color: #fff;
  font-size: 40px;
}
body .calendar-form-section .calendar-form-heading-section h3 span {
  color: #dd5903;
}
body .calendar-form-section .calendar-form-heading-section p {
  color: #fff;
}
body .calendar-form-section .calendar-form-heading-section .calendar-form-timing {
  text-align: center;
}
body .calendar-form-section .calendar-form-body #calendar {
  background-color: #dd5903;
  padding: 30px 40px;
}
body .calendar-form-section .calendar-form-body #calendar .fc-header-toolbar h2 {
  color: #fff;
}
body .calendar-form-section .calendar-form-body #calendar .fc-header-toolbar span {
  color: #fff;
}
body .calendar-form-section .calendar-form-body #calendar .fc-header-toolbar .fc-right button.fc-today-button {
  color: #fff;
  background-color: #000;
}
body .calendar-form-section .calendar-form-body #calendar .fc-header-toolbar .fc-right .fc-button-group button.fc-prev-button span {
  color: #dd5903;
}
body .calendar-form-section .calendar-form-body #calendar .fc-header-toolbar .fc-right .fc-button-group button.fc-next-button span {
  color: #dd5903;
}
body .calendar-form-section .calendar-form-body #calendar .fc-view-container .fc-basic-view table thead.fc-head tr td.fc-widget-header div.fc-widget-container table thead {
  color: #fff;
}
body .calendar-form-section .calendar-form-body #calendar .fc-view-container .fc-basic-view table .tbody.fc-body tr td.fc-widget-content .fc-scroller .fc-day-grid div.fc-widget-content {
  height: auto !important;
}
body .calendar-form-section .calendar-form form.clnd label {
  color: #fff;
  font-size: 15px;
}
body .calendar-form-section .calendar-form form.clnd .calendar-form-btn .btnOne button {
  padding: 12px 30px;
  background-color: #dd5903 !important;
  color: #fff;
}
body .calendar-form-section .calendar-form form.clnd .calendar-form-btn .btnOne:hover {
  cursor: not-allowed;
}
body .calendar-form-section .calendar-form form.clnd .calendar-form-btn .btnTwo button {
  padding: 12px 30px;
  background-color: #dd5903 !important;
  color: #fff;
}
body .about-us-page-section .about-page-banner .about-page-banner-img img {
  min-width: 100%;
  min-height: 100%;
}
body .about-spinner-image-section {
  padding: 0px 0px 90px;
}
body .about-spinner-image-section .about-spinner-image-body .spinner-image {
  display: flex;
  justify-content: center;
  position: relative;
}
body .about-spinner-image-section .about-spinner-image-body .spinner-image .round-img-ani {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 120px;
  height: 120px;
  margin: -60px 0 0 -60px;
  animation: spin 4s linear infinite;
}
@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
body .about-our-services-section {
  padding: 90px 0px;
  background-color: #F7F7F7;
}
body .about-our-services-section .about-our-services-body .about-our-services-title h3 {
  text-align: center;
  font-size: 40px;
}
body .about-our-services-section .about-our-services-body .about-our-services-title p {
  text-align: center;
  line-height: 30px;
}
body .about-our-services-section .about-our-services-body .about-our-services-content .card svg {
  height: 150px;
}
body .about-our-services-section .about-our-services-body .about-our-services-content .card svg .card-shape-clr {
  fill: #FCEFE7;
}
body .about-our-services-section .about-our-services-body .about-our-services-content .card span.cooking {
  text-align: center;
  position: relative;
  margin-top: -80px;
}
body .about-our-services-section .about-our-services-body .about-our-services-content .card .card-body h5 {
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  font-family: "Arapey", sans-serif;
}
body .about-our-services-section .about-our-services-body .about-our-services-content .card .card-body p {
  text-align: center;
}
body .about-our-services-section .about-our-services-body .about-our-services-content .card .card-body a {
  text-decoration: none;
  color: #1f1f1f;
  font-size: 15px;
  font-weight: 600;
}
body .daily-menu-section1 {
  padding: 90px 0px;
}
body .daily-menu-section1 .daily-menu-card .daily-menu-card-body .menu-card-info .address-sec-nav li {
  display: flex;
  align-items: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
body .daily-menu-section1 .daily-menu-card .daily-menu-card-body .menu-card-info .address-sec-nav a.readmore {
  color: #dd5903;
  text-decoration: underline;
}
body .daily-menu-section1 .daily-menu-card .daily-menu-card-body .menu-card-info .menu-details h3 {
  font-size: 24px;
  font-weight: 600;
}
body .daily-menu-section1 .daily-menu-card .daily-menu-card-body .menu-card-info .menu-details .menu-card-view .card-header .menu-title {
  font-weight: 600;
}
body .daily-menu-section1 .daily-menu-card .daily-menu-card-body .menu-card-info .menu-details .menu-card-view .card-header .menu-price {
  display: flex;
  align-items: center;
  -moz-column-gap: 15px;
       column-gap: 15px;
}
body .daily-menu-section1 .daily-menu-card .daily-menu-card-body .menu-card-info .menu-details .menu-card-view .card-header .menu-price li {
  list-style-type: none;
  font-weight: 600;
}
body .daily-menu-section1 .daily-menu-card .daily-menu-card-body .menu-card-info .menu-details .menu-card-view .card-header .menu-price a {
  background-color: #dd5903;
  border-color: #dd5903;
  font-size: 18px !important;
  font-weight: 500;
  padding: 0px 10px;
}
body .daily-menu-section1 .daily-menu-card .daily-menu-card-body .menu-card-info .menu-details .menu-card-view .card-body p {
  font-size: 14px;
  line-height: 30px;
}
body .daily-menu-section1 .daily-menu-card .daily-menu-card-body .menu-card-price-info .price-card {
  border-color: #F7F7F7;
}
body .daily-menu-section1 .daily-menu-card .daily-menu-card-body .menu-card-price-info .price-card .price-card-body {
  background-color: #F7F7F7;
}
body .daily-menu-section1 .daily-menu-card .daily-menu-card-body .menu-card-price-info .price-card .price-card-body table.price-card-tbl .price-card-tbl-head tr.tbl-title {
  text-align: center;
}
body .daily-menu-section1 .daily-menu-card .daily-menu-card-body .menu-card-price-info .price-card .price-card-body table.price-card-tbl .price-card-tbl-head tr.tbl-title th {
  padding-bottom: 25px;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 15px;
}
body .daily-menu-section1 .daily-menu-card .daily-menu-card-body .menu-card-price-info .price-card .price-card-body table.price-card-tbl .tbl-body .tbl-row {
  text-align: center;
}
body .daily-menu-section1 .daily-menu-card .daily-menu-card-body .menu-card-price-info .price-card .price-card-body table.price-card-tbl .tbl-body .tbl-row td {
  font-size: 15px;
}
body .daily-menu-section1 .daily-menu-card .daily-menu-card-body .menu-card-price-info .price-card .price-card-body table.price-card-tbl .tbl-body .tbl-row .tbl-row-priceD .quantity {
  max-width: 66px !important;
}
body .daily-menu-section1 .daily-menu-card .daily-menu-card-body .menu-card-price-info .menu-card-total {
  background-color: #F7F7F7;
  border-color: #F7F7F7;
}
body .daily-menu-section1 .daily-menu-card .daily-menu-card-body .menu-card-price-info .menu-card-total .card-total-heading {
  padding: 30px 25px 0px 25px;
  font-weight: 500;
}
body .daily-menu-section1 .daily-menu-card .daily-menu-card-body .menu-card-price-info .menu-card-total .card-total-price-body {
  padding: 15px 25px;
  font-weight: 600;
}
body .daily-menu-section1 .daily-menu-card .daily-menu-card-body .menu-card-price-info .menu-card-total .card-total-shipping-sec {
  font-weight: 600;
  padding: 0px 25px;
  margin-bottom: 0;
}
body .daily-menu-section1 .daily-menu-card .daily-menu-card-body .menu-card-price-info .menu-card-total .card-total-body p {
  padding: 0px 10px;
}
body .daily-menu-section1 .daily-menu-card .daily-menu-card-body .menu-card-price-info .menu-card-total .card-total-body p span.calculate {
  color: #dd5903;
}
body .daily-menu-section1 .daily-menu-card .daily-menu-card-body .menu-card-price-info .menu-card-total .card-total-invoice {
  padding: 0px 25px;
  font-weight: 600;
}
body .daily-menu-section1 .daily-menu-card .daily-menu-card-body .menu-card-price-info .menu-card-total .prcd-checkout {
  padding: 10px 24px 25px 24px;
}
body .daily-menu-section1 .daily-menu-card .daily-menu-card-body .menu-card-price-info .menu-card-total .prcd-checkout a {
  padding: 10px 16px;
  background-color: #dd5903;
  border-color: #dd5903;
  color: #fff;
  font-weight: 600;
  font-size: 15px;
}
body .contact-us-section {
  padding-bottom: 60px;
}
body .contact-us-section .contact-map-body .contact-map img {
  padding: 60px 0px;
}
body .contact-us-section .contact-page-content .contact-page-content-body p {
  line-height: 30px;
}
body .contact-us-section .contact-page-content .contact-page-content-body .contact-page-location-body .address span {
  display: flex;
  align-items: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
body .contact-us-section .contact-page-content .contact-page-content-body .contact-page-location-body .address span svg {
  min-width: 14px;
}
body .contact-us-section .contact-page-content .contact-page-content-body .contact-page-location-body .phone {
  display: flex;
  align-items: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
body .contact-us-section .contact-page-content .contact-page-content-body .contact-page-location-body .phone a {
  padding: 0;
  color: #1f1f1f;
}
body .contact-us-section .contact-page-content .contact-page-content-body .contact-page-location-body .contact-page-social ul {
  -moz-column-gap: 10px;
       column-gap: 10px;
}
body .contact-us-section .contact-page-content .contact-page-content-body .contact-page-location-body .contact-page-social ul li a.facebk {
  background-color: #3b5998;
  border-radius: 4px;
  width: 20px;
  min-width: 20px;
  text-align: center;
  padding: 15px !important;
  height: 20px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
body .contact-us-section .contact-page-content .contact-page-content-body .contact-page-location-body .contact-page-social ul li a.twtr {
  background-color: #1ca1f2;
  border-radius: 4px;
  width: 20px;
  min-width: 20px;
  text-align: center;
  padding: 15px !important;
  height: 20px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
body .contact-us-section .contact-page-content .contact-page-content-body .contact-page-location-body .contact-page-social ul li a.yutb {
  background-color: #cd201f;
  border-radius: 4px;
  width: 20px;
  min-width: 20px;
  text-align: center;
  padding: 15px !important;
  height: 20px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
body .contact-us-section .contact-page-content .contact-page-content-body .clock-sec .clk-time span {
  display: flex;
  align-items: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
body .contact-us-section .contact-page-content .contact-page-content-body .clock-sec .clk-time span svg {
  min-width: 18px;
}
body .contact-us-section .contact-page-content .contact-page-form-section .cnt-form-page .cnt-form-body .contact-page-form .cnt-btn button {
  background-color: #dd5903;
  border-color: #dd5903;
}
body .checkout-page-section {
  padding: 90px 0;
}
body .checkout-page-section .checkout-page-sec .checkout-page-body {
  padding-top: 15px;
}
body .checkout-page-section .checkout-page-sec .checkout-page-body .checkout-page-form .checkout-page-cnt {
  padding: 42px;
  background-color: #F7F7F7;
}
body .checkout-page-section .checkout-page-sec .checkout-page-body .checkout-page-form .checkout-page-cnt p {
  font-weight: 600;
}
body .checkout-page-section .checkout-page-sec .checkout-page-body .checkout-page-form .checkout-page-cnt .ship-inform label {
  font-size: 14px;
}
body .checkout-page-section .checkout-page-sec .checkout-page-body .checkout-page-form .checkout-page-cnt .ship-inform .form-select, body .checkout-page-section .checkout-page-sec .checkout-page-body .checkout-page-form .checkout-page-cnt .ship-inform input[type=text], body .checkout-page-section .checkout-page-sec .checkout-page-body .checkout-page-form .checkout-page-cnt .ship-inform input[type=number], body .checkout-page-section .checkout-page-sec .checkout-page-body .checkout-page-form .checkout-page-cnt .ship-inform input[type=email], body .checkout-page-section .checkout-page-sec .checkout-page-body .checkout-page-form .checkout-page-cnt .ship-inform textarea {
  border: transparent;
  font-size: 14px;
  padding-top: 12px;
  padding-bottom: 12px;
}
body .checkout-page-section .checkout-page-sec .checkout-page-body .checkout-page-form .checkout-page-check .form-check {
  padding: 35px 80px;
}
body .checkout-page-section .checkout-page-sec .checkout-page-body .checkout-page-form .checkout-page-check .form-check label {
  font-size: 50px;
}
body .checkout-page-section .checkout-page-sec .checkout-your-order .your-order-card {
  background-color: #F7F7F7;
  border-color: #F7F7F7;
}
body .checkout-page-section .checkout-page-sec .checkout-your-order .your-order-card .your-order-body h5 {
  font-size: 16px;
  font-weight: 600;
}
body .checkout-page-section .checkout-page-sec .checkout-your-order .your-order-card .your-order-body .your-order-tbody .your-order-row td {
  font-size: 14px;
  padding: 20px 10px;
}
body .checkout-page-section .checkout-page-sec .checkout-your-order .your-order-card .your-order-body .your-order-tbody .your-order-row2 td {
  font-size: 14px;
  font-weight: 600;
  padding: 20px 10px;
}
body .checkout-page-section .checkout-page-sec .checkout-your-order .cash-on {
  background-color: #F7F7F7;
  border-color: #F7F7F7;
  padding: 20px 34px;
}
body .checkout-page-section .checkout-page-sec .checkout-your-order .cash-on .cash-on-body .cash-on-form .cash-on-content .cash-on-delivery .cash-deli {
  margin: 15px 0;
  border: none;
}
body .checkout-page-section .checkout-page-sec .checkout-your-order .cash-on .cash-on-body .cash-on-form .cash-on-content .cash-on-delivery #cashDelivery {
  border: none;
}
body .checkout-page-section .checkout-page-sec .checkout-your-order .cash-on .cash-on-body .cash-on-form .cash-on-content .cash-on-delivery #cashDelivery .card-body {
  border: none;
  padding: 5px 16px;
  font-size: 14px;
}
body .checkout-page-section .checkout-page-sec .checkout-your-order .cash-on .cash-on-body .cash-on-form .cash-on-content .cash-on-delivery #cashDelivery .card-body.policy {
  padding: 10px 0px 0px !important;
}
body .checkout-page-section .checkout-page-sec .checkout-your-order .cash-on .cash-on-body .cash-on-form .cash-on-content .cash-on-delivery #cashDelivery #bankDetail {
  border: 1px solid #ccc !important;
  padding: 8px 12px !important;
}
body .checkout-page-section .checkout-page-sec .checkout-your-order .cash-on .cash-on-body .cash-on-form .cash-on-content .cash-on-delivery label {
  padding-left: 5px;
  font-size: 14px;
}
body .checkout-page-section .checkout-page-sec .checkout-your-order .cash-on .cash-on-body .cash-on-form .cash-on-content .cash-on-delivery input[type=text] {
  border: transparent;
  font-size: 14px;
  padding-top: 12px !important;
  padding-bottom: 12px !important;
  margin: 10px 0px !important;
}
body .checkout-page-section .checkout-page-sec .checkout-your-order .cash-on .cash-on-body .cash-on-form .cash-on-content .cash-on-delivery p.privacy-body {
  font-size: 13px;
  line-height: 26px;
  margin-bottom: 10px;
}
body .checkout-page-section .checkout-page-sec .checkout-your-order .cash-on .cash-on-body .cash-on-form .cash-on-content .cash-on-delivery p.privacy-body .privacy-cnt {
  color: #dd5903;
}
body .checkout-page-section .checkout-page-sec .checkout-your-order .cash-on .cash-on-body .cash-on-form .cash-on-content .cash-on-delivery a.order-btn {
  font-size: 14px;
  padding: 11px;
  background-color: #dd5903;
  color: #fff;
  font-weight: 600;
}
body .container_slideUp .cancel_slidedown {
  transform: scaleY(0);
  height: 0px;
  transition: none;
}
body .container_slideUp.show .calendar_slidedown {
  transform: scaleY(0);
  height: 0px;
  transition: 0.3s ease;
}
body .container_slideUp.show .cancel_slidedown {
  transform: scaleY(1);
  height: auto;
  transition: 0.3s ease;
}/*# sourceMappingURL=style.css.map */