$primary:#dd5903;
$black:#000;
$darkgrey:#1f1f1f;
$white:#fff;
$lightorange:#FFC49D;
$lightgrey:#F7F7F7;
$footer-heading:21px;
$heading:40px;
$card-heading:24px;
$four:400;
$five:500;
$six:600;
$heading-font:"Arapey", sans-serif;
$content-font:"Plus Jakarta Sans", sans-serif;

body{
    h1, h2, h3{
        font-family: $heading-font;
    }
    p, a, li, span{
        font-family: $content-font;
    }
    .banner-section{
        background-color: $lightgrey;
        .banner{
            min-width: 100%;
            min-height: 600px;
            .banner-body{
                .banner-body-content{
                    h1{
                        margin-bottom: 30px;
                        font-size: 90px;
                        font-weight: 500 !important;
                        line-height: 100px;
                        font-family: $heading-font;
                        text-transform: uppercase;
                    }
                    a{
                        padding: 12px 50px;
                        background-color: $primary;
                        color: white;
                        font-size:14px;
                        font-family: $content-font;
                        font-weight: $six;
                    }
                }
            }
        }    
    }
    .about-section{
        padding: 90px 0;
        .about{
            .about-img{
                order: 1;
            }
            .about-content{
                order: 2;
                .about-content-sec{
                    h3{
                        text-align: center;
                        line-height: 50px;
                        font-size: 40px;                    
                        span{
                            font-family: head;
                            color: $primary;
                        }
                    }
                } 
                .about-content-para{
                    p{
                        line-height: 30px;
                    }
                }           
            }
            .about-menu-list{
                order:3;
                .menu-list-section{
                    .menu-list-section-content{
                        h4{
                            margin-bottom: 0 !important;
                            a{
                                padding: 0;
                                color: $darkgrey;
                                font-size: $footer-heading;
                                font-weight: $six;
                            }
                        }
                        p{
                            margin-bottom: 0;
                            span{
                                color: $primary;
                                font-size: 14px;
                                font-weight: $six;
                            }
                        }
                    }    
                }
            }
        }        
    }
    .daily-menu-section{
        padding: 90px 0px 58px;
        background-color: $lightgrey;
        .menu-section-heading-block{
            .menu-section-separator{
                .title-separator{
                    background: url(../../img/icons/rectangle.png);
                    min-width: 65px;
                    min-height: 21px;
                }
            }
            .menu-section-heading{
                h3{
                    text-align: center;
                    line-height: 50px;
                    font-size: 40px;
                    margin-bottom: 20px;
                    span{
                        color: $primary;
                        font-family: $heading-font;                    
                    }
                    p{
                        text-align: center;
                        margin-bottom: 20px;
                    }
                }
            }
        }
        .menu-section-image-block{
            .image-block{
                overflow: hidden !important;
                margin: 0 auto !important;                
                img{
                    width: 100% !important;
                    transition: 0.5s all ease-in-out !important;
                }
                &:hover img{
                    transform: scale(1.1) !important;
                }
                .title-block{
                    h4{
                        font-size: $footer-heading;
                        a{
                            color:$darkgrey;
                            font-weight: $six;
                        }
                    }
                    p{
                        color: $primary;
                        font-weight: $six;
                    }
                }
            }
        }
    }

    .solid-answer-section{
        padding: 90px 0;
        .section-accordian{
            .accordian-section-separator{
                .title-separator{
                    background: url(../../img/icons/rectangle.png);
                    min-width: 65px;
                    min-height: 21px;
                }
            }
            .section-accordian-heading{
                h3{
                    text-align: start;
                    line-height: 50px;
                    font-size: 40px;
                    margin-bottom: 20px;     
                    span{
                        color: $primary;
                    }                           
                }
                p{
                    text-align: start;
                    margin-bottom: 20px;
                    line-height: 30px;
                }
            }
            #solidAccordian{
                .accordion-item{
                    #headingOne{
                    button{
                        color: $primary;
                    } 
                    }
                }
            }
            #faqlist{
                button{
                    font-size:18px;
                    font-weight: $six;                    
                    &:not(.collapsed){
                        color: $primary;
                        background-color: $white;
                        box-shadow: none;
                    }
                }
            }
        }
    }
    .book-now-section{
        background-color:$darkgrey;
        padding: 30px 0;
        .book-now-body{
            .book-now-content{
                h3{
                    color:$white;
                    font-size: 32px;    
                    span{
                        font-size: 36px;
                        text-decoration: underline;
                        font-family: $heading-font;
                    }            
                }
                a{
                    background-color: $primary;
                    color: $white;
                    column-gap: 10px;
                    padding: 14px 35px;
                    font-weight: $five;
                }
            }
        }
    }
    .gallery-section{
        padding: 90px 0;
        .gallery-sec{
            .gallery-body{
                .gallery-heading{
                    h3{
                        font-size: $heading;
                        text-align: center;
                        span{
                            font-family: $heading-font;
                            color: $primary;
                        }
                    }
                }
            }
            .show{
                display: block;
                &#img1, #img2, #img3, #img4, #img5, #img6{
                    min-width: 100%;
                }
            }
        }        
    }
    .calendar-form-section{
        background: url(../../img/restaurant-interior-bg1.png);
        padding: 76px 0;
        .calendar-form-heading-section{
            h3{
                color: $white;   
                font-size: $heading;        
                span{
                    color: $primary;
                }
            }
            p{
                color: $white;
            }
            .calendar-form-timing{
                text-align: center;
            }
        }
        .calendar-form-body{
            #calendar{
                background-color: $primary;
                padding: 30px 40px;
                .fc-header-toolbar{
                    h2{
                        color: $white;                    
                    }
                    span{
                        color: $white;
                    }
                    // .fc-left{

                    // }
                    .fc-right{
                        button.fc-today-button{
                            color: $white;
                            background-color: #000;
                        }
                        .fc-button-group{
                            button.fc-prev-button{
                                span{
                                    color: $primary;
                                }
                            }
                            button.fc-next-button{
                                span{
                                    color: $primary;
                                }
                            }
                        }
                    }
                }
                .fc-view-container{
                    .fc-basic-view{
                        table{
                            thead.fc-head{
                                tr{
                                    td.fc-widget-header{
                                        div.fc-widget-container{
                                            table{
                                                thead{
                                                    color: #fff;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                            .tbody.fc-body{
                                tr{
                                    td.fc-widget-content{
                                        .fc-scroller{
                                            .fc-day-grid{
                                                div.fc-widget-content{
                                                    height: auto !important;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }        
        }
        .calendar-form{
            form.clnd{
                label{
                    color: $white;
                    font-size:15px;
                }
                .calendar-form-btn{
                    .btnOne{
                        button{
                            padding: 12px 30px;
                            background-color: $primary !important;
                            color: $white;
                        }
                        &:hover{
                            cursor: not-allowed;
                        }
                    }
                    .btnTwo{
                        button{
                            padding: 12px 30px;
                            background-color: $primary !important;
                            color: $white;
                        }
                    }
                }
            }
        }


    }


    //////////////////////// About us page ////////////////////////////////////

    .about-us-page-section{
        .about-page-banner{
            .about-page-banner-img{
                img{
                    min-width: 100%;
                    min-height: 100%;
                }
            }
        }   
    }
    .about-spinner-image-section{
        padding: 0px 0px 90px;
        .about-spinner-image-body{
            .spinner-image{
                display: flex;
                justify-content: center;
                position: relative;
                .round-img-ani{
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    width: 120px;
                    height: 120px;
                    margin:-60px 0 0 -60px;
                    -webkit-animation:spin 4s linear infinite;
                    -moz-animation:spin 4s linear infinite;
                    animation:spin 4s linear infinite;

                    @-moz-keyframes spin { 
                        100% { -moz-transform: rotate(360deg); } 
                    }
                    @-webkit-keyframes spin { 
                        100% { -webkit-transform: rotate(360deg); } 
                    }
                    @keyframes spin { 
                        100% { 
                            -webkit-transform: rotate(360deg); 
                            transform:rotate(360deg); 
                        } 
                    }
                }
            }
        }
    }
    .about-our-services-section{
        padding: 90px 0px;
        background-color: $lightgrey;
        .about-our-services-body{
            .about-our-services-title{
                h3{
                    text-align: center;
                    font-size: $heading;
                }
                p{
                    text-align: center;
                    line-height: 30px;
                }
            }
            .about-our-services-content{
                .card{
                    svg{
                        height: 150px;
                        .card-shape-clr{
                            fill: #FCEFE7;                        
                        }
                    }
                    span.cooking{
                        text-align: center;
                        position: relative;
                        margin-top: -80px;

                    }
                    .card-body{
                        h5{
                            text-align: center;
                            font-size: $card-heading;
                            font-weight: $six;
                            font-family: $heading-font;
                        }
                        p{
                            text-align: center;
                        }
                        a{
                            text-decoration: none;
                            color: $darkgrey;
                            font-size: 15px;
                            font-weight: $six;
                        }
                    }
                }
            }
        }
    }
    .daily-menu-section1{
        padding: 90px 0px;
        // .daily-menu-body{
        //     .address-sec{
        //         .address-sec-nav{
        //             li{
        //                 display: flex;
        //                 align-items: center;
        //                 column-gap: 10px;
        //             }
        //             a.readmore{
        //                 color: $primary;
        //                 text-decoration: underline;
        //             }
        //         }
        //     }
        // }
        .daily-menu-card{
            .daily-menu-card-body{
                .menu-card-info{
                    .address-sec-nav{
                        li{
                            display: flex;
                            align-items: center;
                            column-gap: 10px;
                        }
                        a.readmore{
                            color: $primary;
                            text-decoration: underline;
                        }
                    }
                    .menu-details{
                        h3{
                            font-size:24px;
                            font-weight: $six;
                        }
                        .menu-card-view{
                            .card-header{
                                .menu-title{
                                    font-weight: $six;
                                }
                                .menu-price{
                                    display: flex;
                                    align-items: center;
                                    column-gap: 15px;
                                    li{
                                        list-style-type: none;
                                        font-weight: $six;
                                    }
                                    a{
                                        background-color: $primary;
                                        border-color: $primary;
                                        font-size: 18px !important;
                                        font-weight: $five;
                                        padding: 0px 10px;
                                    }
                                }
                            }
                            .card-body{
                                p{
                                    font-size: 14px;
                                    line-height: 30px;
                                }
                            }
                        }
                    }                
                }
                .menu-card-price-info{
                    .price-card{
                        border-color: $lightgrey;
                        .price-card-body{
                            background-color: $lightgrey;                        
                            table.price-card-tbl{
                                .price-card-tbl-head{
                                    tr.tbl-title{
                                        text-align: center;
                                        th{
                                            padding-bottom:25px;
                                            font-family: $content-font;
                                            font-size: 15px;
                                        }
                                    }
                                }
                                .tbl-body{
                                    .tbl-row{
                                        td{
                                            font-size: 15px;
                                        }
                                        text-align: center;
                                        .tbl-row-priceD{
                                            .quantity {
                                                max-width: 66px !important;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .menu-card-total{
                        background-color: $lightgrey;
                        border-color: $lightgrey;
                        .card-total-heading{
                            padding: 30px 25px 0px 25px;
                            font-weight: $five;
                        }
                        .card-total-price-body{
                            padding: 15px 25px;
                            font-weight: $six;
                        }
                        .card-total-shipping-sec{
                            font-weight: $six;
                            padding: 0px 25px;
                            margin-bottom: 0;
                        }
                        .card-total-body{
                            p{
                                padding: 0px 10px;
                                span.calculate{                                
                                    color: $primary;
                                }
                            }
                            
                        }
                        .card-total-invoice{
                            padding: 0px 25px;
                            font-weight: $six;
                        }
                        .prcd-checkout{
                            padding: 10px 24px 25px 24px;
                            a{
                                padding: 10px 16px;
                                background-color: $primary;
                                border-color: $primary;
                                color: $white;
                                font-weight: $six;
                                font-size:15px;
                            }
                        }
                    }
                }
            }        
        }
    }
    .contact-us-section{
        padding-bottom: 60px;
        .contact-map-body{
            .contact-map{
                img{
                    padding: 60px 0px;
                }
            }
        }
        .contact-page-content{
            .contact-page-content-body{            
                p{
                    line-height: 30px;
                }
                .contact-page-location-body{
                    .address{
                        span{
                            display: flex;
                            align-items: center;
                            column-gap: 10px;
                            svg{
                                min-width: 14px;
                            }
                        }
                    }
                    .phone{
                        display: flex;
                        align-items: center;
                        column-gap: 10px;
                        a{
                            padding: 0;
                            color: $darkgrey;
                        }
                    }
                    .contact-page-social{
                        ul{
                            column-gap: 10px;
                            li{
                                a.facebk{
                                    background-color: #3b5998;                           
                                    border-radius: 4px;
                                    width: 20px;
                                    min-width: 20px;
                                    text-align: center;
                                    padding: 15px !important;
                                    height: 20px;
                                    position: relative;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                }
                                a.twtr{
                                    background-color: #1ca1f2;                            
                                    border-radius: 4px;
                                    width: 20px;
                                    min-width: 20px;
                                    text-align: center;
                                    padding: 15px !important;
                                    height: 20px;
                                    position: relative;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                }
                                a.yutb{
                                    background-color: #cd201f;                           
                                    border-radius: 4px;
                                    width: 20px;
                                    min-width: 20px;
                                    text-align: center;
                                    padding: 15px !important;
                                    height: 20px;
                                    position: relative;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                }
                            }
                        }
                    }
                } 
                .clock-sec{
                    .clk-time{
                        span{
                            display: flex;
                            align-items: center;
                            column-gap: 10px;
                            svg{
                                min-width: 18px;
                            }
                        }
                    }
                }
            }
            .contact-page-form-section{
                .cnt-form-page{
                    .cnt-form-body{
                        .contact-page-form{
                            .cnt-btn{
                                button{
                                    background-color: $primary;
                                    border-color: $primary;
                                }
                            }
                        }
                    }
                }
            }
        }
        
    }
    .checkout-page-section{
        padding: 90px 0;
        .checkout-page-sec{
            .checkout-page-body{
                padding-top: 15px;
                .checkout-page-form{
                    .checkout-page-cnt{
                        padding: 42px;
                        background-color: $lightgrey;
                        p{
                            font-weight: $six;
                        }
                        .ship-inform{                        
                            label{
                                font-size:14px;                            
                            }
                            .form-select, input[type=text], input[type=number], input[type=email], textarea{
                                border:transparent;
                                font-size:14px;
                                padding-top: 12px;
                                padding-bottom: 12px;                            
                            }
                        }
                    }
                    .checkout-page-check{
                        .form-check{
                            padding: 35px 80px;
                            label{
                                font-size: 14px;
                            }
                        }
                    }
                }
            }
            .checkout-your-order{
                .your-order-card{
                        background-color: $lightgrey;
                        border-color: $lightgrey;
                    .your-order-body{                    
                        h5{
                            font-size:16px;
                            font-weight: $six;
                        }
                        .your-order-tbody{
                            .your-order-row{
                                td{
                                    font-size: 14px;
                                    padding: 20px 10px;
                                }
                            }
                            .your-order-row2{
                                td{
                                    font-size: 14px;
                                    font-weight: $six;
                                    padding: 20px 10px;
                                }
                            }
                        }
                    }
                }
                .cash-on{
                    background-color: $lightgrey;
                    border-color: $lightgrey;
                    padding: 20px 34px;
                    .cash-on-body{
                        .cash-on-form{
                            .cash-on-content{
                                .cash-on-delivery{
                                    .cash-deli{
                                        margin: 15px 0;
                                        border: none;
                                    }
                                    #cashDelivery{
                                        border: none;
                                        .card-body{
                                            border: none;
                                            padding: 5px 16px;
                                            font-size:14px;
                                            &.policy{
                                                padding: 10px 0px 0px !important;
                                            }
                                        }
                                        #bankDetail{
                                            border: 1px solid #ccc !important;    
                                            padding: 8px 12px !important;                                    
                                        }
                                    }
                                    label{
                                        padding-left: 5px;
                                        font-size:14px;
                                    }
                                    input[type=text]{
                                        border:transparent;
                                        font-size:14px;
                                        padding-top: 12px !important;
                                        padding-bottom: 12px !important;
                                        margin: 10px 0px !important;
                                    }
                                    p.privacy-body{
                                        font-size:13px;
                                        line-height: 26px;
                                        margin-bottom: 10px;
                                        .privacy-cnt{
                                            color: $primary;
                                        }
                                    }
                                    a.order-btn{
                                        font-size:14px;
                                        padding: 11px;
                                        background-color: $primary;
                                        color: $white;
                                        font-weight: $six;
                                    }
                                    
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .container_slideUp{
        .cancel_slidedown{
            transform: scaleY(0);
            height: 0px;
            transition: none;
        }
        &.show{
            .calendar_slidedown{
                transform: scaleY(0);
                height: 0px;
                transition: 0.3s ease;
            }
            .cancel_slidedown{
                transform: scaleY(1);
                height: auto;
                transition: 0.3s ease;
            }
        }
    }
}